<main class="main">
   <%- include('partials/profileHeader.ejs', { path }) %>
   <div class="flex flex-col justify-between gap-10 sm:flex-row sm:gap-20">
      <%- include('partials/manageAccount', { path }) %>

      <div class="mx-auto w-full sm:max-w-[500px]">
         <div class="flex flex-col">
            <div class="-m-1.5 overflow-x-auto">
               <div class="inline-block min-w-full p-1.5 align-middle">
                  <div class="overflow-hidden">
                     <table class="min-w-full">
                        <thead class="rounded-lg bg-primary-900 bg-opacity-10">
                           <tr>
                              <th scope="col" class="px-4 py-3 text-start text-sm font-medium text-primary-900">
                                 Event
                              </th>
                              <th scope="col" class="px-4 py-3 text-center text-sm font-medium text-primary-900">
                                 Date
                              </th>
                              <th scope="col" class="px-4 py-3 text-end text-sm font-medium text-primary-900">
                                 Booked
                              </th>
                           </tr>
                        </thead>
                        <tbody>
                           <% for (const order of orders) { %>
                           <tr>
                              <td class="whitespace-nowrap px-4 py-2 text-start text-sm font-medium text-neutral-800">
                                 <%= order.Event.name %>
                              </td>
                              <td class="whitespace-nowrap px-4 py-2 text-center text-sm text-neutral-800">
                                 <%= order.Event.startDate %>
                              </td>
                              <td class="whitespace-nowrap px-4 py-2 text-end text-sm text-neutral-800">
                                 <%= order.booked %>
                              </td>
                           </tr>
                           <% } %>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>